
* {
    box-sizing: border-box;
}

body { 
    margin: 0; 
    padding: 0; 
    background: #000;
}

.container {
    position: relative;
    display: block; 
    width: 0px;
    height: 0px;
    margin: 0 auto;
}

#lives img {
    width: 33%;
}

.widebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 10%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
  }

canvas {
    position: absolute;
    background: rgb(109, 175, 53);
}

#start_button {
    background-color: pink;
    color: black;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 20px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: block;
    position: absolute;
    top: 50%;
    left: 45%;
    z-index: 1;
    border-width: 1px;
    border-color: rgb(247, 245, 199)
}