
* {
    box-sizing: border-box;
}

body { 
    margin: 0; 
    padding: 0;
    /*background-color: rgb(109, 175, 53);*/
    background-color: #044c26;
}

audio {
    display: none; /* ios issue? */
}

#container {
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: 0;
    left: 50%;
}

/*#lives {
    display: none;
}*/

.lives-div {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.life {
    max-height: 100%;
    max-width: 30%;
    position: relative;
    float: right;
}

#score-container {
    height: 50%;
}

#score {
    color: white;
    margin: 0;
    padding: 0;
}

#controls {
    height: 50%;
    width: 24px;
    display: inline-block;
}

.slider {
    transition: 1s;
    position: absolute;
    top: 0;
    width: 0;
    visibility: hidden;
}

#overlay-volume {
    display: none;
}
#overlay-volume:checked ~ .slider {
    transition: 1s;
    width: 50%;
    visibility: visible;
}

#widebar-volume {
    display: none;
}

#widebar-volume:checked ~ input {
    transition: 1s;
    width: 50%;
    visibility: visible;
}

#widebar {
    display: none;
    /*visibility: hidden;
    /*display: flex;
    flex-direction: row;*/
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#overlay {
    display: none;
    /*visibility: hidden;
    /*display: flex;
    flex-direction: row;*/
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
  }

canvas {
    position: absolute;
    /*background: rgb(109, 175, 53);*/
    background-color: #044c26;
    outline: 8px solid black;
}

#start_button {
    background-color: pink;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    display: none;
    position: absolute;
    top: 50%;
    left: 35%;
    z-index: 1;
    border-width: 1px;
    border-color: rgb(247, 245, 199)
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: white;
    cursor: pointer;
    float: left;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}